In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
series1 = pd.Series([1, 2, 3])

In [3]:
series1

0    1
1    2
2    3
dtype: int64

In [4]:
series2 = pd.Series(['Саша', 'Маша', 'Паша'], index=['a', 'b', 'c'])

In [5]:
series2

a    Саша
b    Маша
c    Паша
dtype: object

In [6]:
dates = pd.date_range('2021-01-01', '2021-01-06')

In [7]:
dates

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
birds = pd.Series(['Bingo', 'Dingo', 'Bob', 'Dude', 'Dick', 'Cock'], index=dates)

In [9]:
birds

2021-01-01    Bingo
2021-01-02    Dingo
2021-01-03      Bob
2021-01-04     Dude
2021-01-05     Dick
2021-01-06     Cock
Freq: D, dtype: object

In [10]:
temp1 = pd.Series([-12, -8, 0, 1, -7, -51], index=dates)
temp2 = pd.Series([23, 14, 21, 6, 0, 9], index=dates)

In [11]:
temp1, temp2

(2021-01-01   -12
 2021-01-02    -8
 2021-01-03     0
 2021-01-04     1
 2021-01-05    -7
 2021-01-06   -51
 Freq: D, dtype: int64,
 2021-01-01    23
 2021-01-02    14
 2021-01-03    21
 2021-01-04     6
 2021-01-05     0
 2021-01-06     9
 Freq: D, dtype: int64)

In [12]:
temp_diff = temp1 - temp2
temp_diff

2021-01-01   -35
2021-01-02   -22
2021-01-03   -21
2021-01-04    -5
2021-01-05    -7
2021-01-06   -60
Freq: D, dtype: int64

In [13]:
temp_diff[3], temp_diff['2021-01-02']

(-5, -22)

In [14]:
temp_diff.mean()

-25.0