<a href="https://colab.research.google.com/github/school1739/python.21-22-1/blob/student%2Fpokrovsky/Big%20Data/Pandas/pandas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
dates=pd.date_range('2022-03-01', '2022-03-05')
dates

DatetimeIndex(['2022-03-01', '2022-03-02', '2022-03-03', '2022-03-04',
               '2022-03-05'],
              dtype='datetime64[ns]', freq='D')

In [3]:
ser1=pd.Series([1,2,3,4,5], index=dates)
ser1

2022-03-01    1
2022-03-02    2
2022-03-03    3
2022-03-04    4
2022-03-05    5
Freq: D, dtype: int64

In [4]:
ser2=pd.Series([6,7,8,9,10], index=dates)
ser2

2022-03-01     6
2022-03-02     7
2022-03-03     8
2022-03-04     9
2022-03-05    10
Freq: D, dtype: int64

In [5]:
frame1=pd.DataFrame({"Series 1": ser1, "Series 2": ser2})
frame1

            Series 1  Series 2
2022-03-01         1         6
2022-03-02         2         7
2022-03-03         3         8
2022-03-04         4         9
2022-03-05         5        10

In [6]:
frame1["Series 2"]

2022-03-01     6
2022-03-02     7
2022-03-03     8
2022-03-04     9
2022-03-05    10
Freq: D, Name: Series 2, dtype: int64

In [8]:
frame1["Series 2"] - frame1["Series 1"]

2022-03-01    5
2022-03-02    5
2022-03-03    5
2022-03-04    5
2022-03-05    5
Freq: D, dtype: int64

In [9]:
frame1["Differences"] = frame1["Series 2"] - frame1["Series 1"]
frame1

            Series 1  Series 2  Differences
2022-03-01         1         6            5
2022-03-02         2         7            5
2022-03-03         3         8            5
2022-03-04         4         9            5
2022-03-05         5        10            5

In [10]:
frame1.columns # Получить названия столбиков

Index(['Series 1', 'Series 2', 'Differences'], dtype='object')

In [11]:
frame1.index # Получить индекс

DatetimeIndex(['2022-03-01', '2022-03-02', '2022-03-03', '2022-03-04',
               '2022-03-05'],
              dtype='datetime64[ns]', freq='D')

In [13]:
frame1["Series 1"][2:4] # Срез списка из Series

2022-03-03    3
2022-03-04    4
Freq: D, Name: Series 1, dtype: int64

In [14]:
frame1["Series 1"]["2022-03-03"] # Обращение к элементу Series по индексу

3

In [15]:
frame1["Series 1"][2] # Обращение к элементу Series по индексу

3

In [16]:
frame1["Series 1"] > 2

2022-03-01    False
2022-03-02    False
2022-03-03     True
2022-03-04     True
2022-03-05     True
Freq: D, Name: Series 1, dtype: bool